:root {
  --color-blue: #1B98E0;
    /* --bg-primary: #E8F1F2;
    --bg-secondary: #1B98E0;
    --color-secondary: #247BA0;
    --color-third: #006494;
    --color-forth: #13293D; */
}


.content {
  height: 100vh;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}

.sidebar {
  height: 100vh;
  display: flex;
  direction: row;
  /* width: 10vw; */
  min-width: 150px;
  /* justify-content: center; */
  /* position: fixed; */
  /* flex-grow: 1; */
}
.sidebar li {
  list-style: none;
}

#title {
  width: 100%;
}
.edit-menu {
  padding: 0.5rem;
  /* display: flex; */
  /* justify-content: center; */
  flex-grow: 2;
  /* align-items: center; */
  /* width: 100%; */
  /* position: inherit; */
}

/* .sidebar a {
  text-decoration: none;
} */

nav {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    background-color: var(--color-blue);
}

nav li:first-child {
    margin-right: auto;
}

nav a {
    text-decoration: none;
    display: block;
    padding: 1em; 
    /* em - Relative to the font-size of the element  */
    color: white;
}

nav a:hover {
    background: var(--color-third);
}

nav li {
    list-style: none;
}

/* .posts-container {
    margin-left: 1rem;
    padding: 1rem;
} */
.post {
  margin: 0.5rem;
}

 @media all and (max-width: 800px) {
    nav {
      justify-content: space-around;
    }
  }
 
  @media all and (max-width: 600px) {
    nav {
      flex-flow: column wrap;
      padding: 0;
    }
    nav a { 
      text-align: center; 
      padding: 10px;
      /* border-top: 1px solid rgba(255, 255, 255,0.3); 
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);  */
    }
    nav li:last-of-type a {
      border-bottom: none;
    }
  }  

  .box .title {
    text-align: center;
  }