{% extends 'base.html' %}
{% block title %} <title>Blog</title>{% endblock %}
{% block content %} 
<div class="posts-container column">
    
    {% for post in posts %}
    <div class="card">
        <div class="post">
            <div class="card-content">
                <a href=""><p class="title">{{ post.title }}</p></a>
                {{ post.content }}
                <br>
                <time datetime="2016-1-1">Added: {{ post.date_added.strftime('%Y.%m.%d') }}</time>
            </div>
        </div>
    </div>

    {% endfor %}
</div>
{% endblock %}